.navbar {
  background-color: cadetblue;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarList {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbarItem {
  margin: 0 10px;
}

.navbarLink {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.button {
  background: blue;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




